<%= link_to 'Back to All Genres', genres_path %>
<h1><%= @genre.name %> Mangas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <% @mangas.each do |manga| %>
      <tr>
        <td><%= link_to manga.title, manga_path(manga) %></td>
        <td><%= manga.authors.map(&:name).join(", ") %></td>
        <td><%= manga.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
