<%= link_to 'Back to All Genres', genres_path %>
<h1><%= @genre.name %> Mangas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <% @mangas.each do |manga| %>
      <tr>
        <td><%= link_to manga.title, manga_path(manga) %></td>
        <td>
          <%# Iterate over the author's names, adds comma and space for each author name unless it's the last author %>
          <% manga.authors.each do |author| %>
            <%= link_to author.name, author_path(author) %><%= ", " unless author == manga.authors.last %>
          <% end %>
        </td>
        <td><%= manga.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
