<tr>
  <td><%= image_tag manga.small_image_url, alt: manga.title if manga.small_image_url.present? %></td>
  <td><%= link_to manga.title, manga_path(manga), class: 'has-text-link' %></td>
  <td>
    <% manga.authors.each do |author| %>
        <%# Iterate over the author's names, adds comma and space for each author name unless it's the last author %>
      <%= link_to author.name, author_path(author), class: 'has-text-link' %><%= ", " unless author == manga.authors.last %>
    <% end %>
  </td>
  <td><%= manga.release_date %></td>
</tr>